<div style="text-align:center" class="container">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>Clients</h2>
        <table class="table table-striped table-bordered" *ngIf="clients.length > 0">
          <thead>
          <tr>
            <th>Inn</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Middle name</th>
            <th>Show transactions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let client of clients">
            <td>{{client.inn}}</td>
            <td>{{client.firstName}}</td>
            <td>{{client.lastName}}</td>
            <td>{{client.middleName}}</td>
            <td>
              <button (click)="getTransaction(client)" class="btn btn-sm btn-primary">
                <i class="fas fa-list-ul"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm">
        <div *ngIf="transactions.length > 0">
          <h2>{{selectedClient.lastName}} transactions</h2>
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>Amount</th>
              <th>Place</th>
              <th>Currency</th>
              <th>Card</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of transactions">
              <td>{{transaction.amount}}</td>
              <td>{{transaction.place}}</td>
              <td>{{transaction.currency}}</td>
              <td>{{transaction.card}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

